@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root{
    --nav-width: 92px;

    --button-color-font-icon: rgb(136, 136, 136);
    --button-hover-color-font-icon: rgb(84, 83, 87);
    --button-hover-bg: rgb(160, 160, 160);
    --color-content0-bg: white;
    --maroong-content-bg: #810000;
    --body-color: rgb(209, 209, 209);

    --normal-font-size: 1rem;
    --small-font-size: .875rem;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
*::before, ::after{
    box-sizing: border-box;
}
.body_container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    background-color: var(--color-content0-bg);
    margin-top: 10px;
    padding: 30px 5% 30px;
    width: 70%;
}
.approv_content .title{
    width: 180px;
}
.title h1{
    font-size: 1.5rem;
    color: var(--button-color-font-icon);
    display: inline-block;
}
.title hr{
    border-bottom: 2px solid var(--maroong-content-bg);
}

.bttn_appoint_list .notif_bttntiles{
    text-decoration: none;
    border-radius: .5rem;
    width: 100%;
    color: var(--button-color-font-icon);
    background-color: transparent;
    padding: 10px;
}

.bttn_appoint_list .notif_bttntiles:hover{
    color: var(--button-hover-color-font-icon);
}

.notif_bttntext{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px 0;
    font-size: 12px;
    background-color: transparent;
}
.notif_bttnline{
    border-bottom: 1px solid var(--button-hover-color-font-icon);
    margin-top: 3px;
}

