@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root{
    --nav-width: 92px;

    --button-color-font-icon: rgb(136, 136, 136);
    --button-hover-color-font-icon: rgb(84, 83, 87);
    --button-hover-bg: rgb(160, 160, 160);
    --color-content0-bg: white;
    --maroong-content-bg: #810000;
    --maroong-content-hover: #630000;
    --body-color: rgb(209, 209, 209);
    --pink: #f42c38;

    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --meduim-font-size: 15px;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
*::before, ::after{
    box-sizing: border-box;
}
.body_container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    background-color: var(--color-content0-bg);
    margin-top: 10px;
    padding: 30px 5% 30px;
    width: 70%;
    height: auto;
}
.content .title{
    width: 219px;
}
.content .title h1{
    font-size: 1.5rem;
    color: var(--button-color-font-icon);
    display: inline-block;
}
.content .title hr{
    border-bottom: 2px solid var(--maroong-content-bg);
}
.content .subcontent .title{
    width: 230px;
}
.content .subcontent .title h1{
    font-size: 1.2rem;
    color: var(--button-color-font-icon);
    display: inline-block;
}
.content .subcontent .title hr{
    border-bottom: 2px solid var(--maroong-content-bg);
}

.input_group{
    padding: 25px 5% 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.input_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 15px;
    font-size: var(--small-font-size);
    text-align: center;
}
.input_container .label{
    color: var(--button-hover-color-font-icon);
    margin-right: 5px;
    width: 100px;
    font-weight: 600;
    font-size: var(--normal-font-size);
}
.input_container .input{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: .25rem;
    font-size: var(--normal-font-size);
}
  
.input_container .input-field {
    color: var(--button-hover-color-font-icon);
    width: 100%;
    padding: 5px;
    outline: none;
    border: none;
    background-color: transparent;
}
.input .fas{
    padding: .5rem;
    font-size: 18px;
    color: var(--maroong-content-bg);
}
.input_container .fa-asterisk{
    padding: .5rem;
    font-size: 15px;
    color: var(--pink);
}
.input_container .fa-circle-exclamation{
    padding: .5rem;
    font-size: 15px;
    color: var(--maroong-content-bg);
}

.input-error{
    box-shadow: 5px solid var(--maroong-content-bg);
    border: 2px solid var(--maroong-content-bg);
}

.action_content {
    float: right;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-flow: wrap;
    padding: 0px 30px 0 0;
}

.action_content .bttn {
    width: max-content;
    height: auto;
    padding: 6px 10px 6px;
    font-size: var(--normal-font-size);
    font-weight: 600;
    color: var(--color-content0-bg);
    background-color: var(--maroong-content-bg);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    outline: none;
}
.action_content .disable{
    width: max-content;
    height: auto;
    padding: 6px 10px 6px;
    font-size: var(--normal-font-size);
    font-weight: 600;
    color: var(--color-content0-bg);
    background-color: var(--body-color);
    border: none;
    border-radius: 0.5rem;
    outline: none;
}
.action_content .disable:hover{
    background-color: var(--button-hover-bg);
}

.action_content .bttn:hover{
    background-color: var(--maroong-content-hover);
}