@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root{
    --nav-width: 92px;

    --button-color-font-icon: rgb(136, 136, 136);
    --button-hover-color-font-icon: rgb(84, 83, 87);
    --button-hover-bg: rgb(160, 160, 160);
    --color-content0-bg: white;
    --maroong-content-bg: #810000;
    --maroong-content-hover: #630000;
    --body-color: rgb(209, 209, 209);
    --pink: #f42c38;

    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --meduim-font-size: 15px;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
*::before, ::after{
    box-sizing: border-box;
}
.body_container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}
.acc_bttn{
    font-size: 20px;
    background-color: transparent;
    color: rgb(136, 136, 136);
    border: none;
    cursor: pointer;
    padding: 0 15px 0;
    margin-top: 10px;
}
.acc_bttn:hover{
    color: rgb(84, 83, 87);
}
.content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile{
    background-color: var(--color-content0-bg);
    margin-top: 10px;
    padding: 30px 5% 30px;
    width: 70%;
    height: auto;
}
.content .title{
    width: 270px;
}
.content .title h1{
    font-size: 1.5rem;
    color: var(--button-color-font-icon);
    display: inline-block;
}
.content .title hr{
    border-bottom: 2px solid var(--maroong-content-bg);
}
.content .subcontent .title{
    width: 210px;
}
.content .subcontent .title h1{
    font-size: 1.2rem;
    color: var(--button-color-font-icon);
    display: inline-block;
}
.content .subcontent .title hr{
    border-bottom: 2px solid var(--maroong-content-bg);
}

.profile_pic{
    width: 80%;
    margin-left: 10%;
    padding: 10px 0 10px;
}

.profile_pic .prof_pic{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-image: none;
}

h4{
    color: var(--button-hover-color-font-icon);
    font-weight: 600;
    padding: 10px 10px 10px;
}

.subtitle{
    padding-top: 10px;
    padding-left: 10px;
    color: var(--button-hover-color-font-icon);
}

.input_group{
    padding: 10px 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.input_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    margin-bottom: 15px;
    font-size: var(--small-font-size);
    text-align: center;
    flex-grow: 1;
}
.zlink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin-bottom: 15px;
    font-size: var(--small-font-size);
    text-align: center;
}
.input_container .label{
    color: var(--button-hover-color-font-icon);
    margin-right: 5px;
    width: 100px;
    font-size: 11px;
}
.input_container .input{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: .25rem;
    font-size: 11px;
}
.eval{
    width: 95%;
    font-size: 11px;
}
  
.input_container .input-field {
    color: var(--button-hover-color-font-icon);
    width: 100%;
    padding: 5px;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 11px;
}
.evalInput{
    resize: none;
    font-size: 11px;
    padding: 10px;
    width: 100%;
    height: 200px;
    min-width: 200px;
    color: var(--button-hover-color-font-icon);
    border-radius: .25rem;
    border: 1px solid var(--button-hover-color-font-icon);
}

.eval .label{
    font-size: 11px;
    color: var(--button-hover-color-font-icon);
    font-weight: 600;
    padding: 10px;
}
.fa-circle-exclamation{
    padding: .5rem;
    font-size: 15px;
    color: var(--maroong-content-bg);
}
.fa-asterisk{
    padding: .5rem;
    font-size: 15px;
    color: var(--pink);
}
.input_container .fas{
    padding: .5rem;
    font-size: 18px;
    color: var(--maroong-content-bg);
}


.input_container .fa-asterisk{
    padding: .5rem;
    font-size: 15px;
    color: var(--pink);
}
.input_container .fa-circle-exclamation{
    padding: .5rem;
    font-size: 15px;
    color: var(--maroong-content-bg);
}
.input .fas{
    padding: .5rem;
    font-size: 18px;
    color: var(--maroong-content-bg);
}

.input-error{
    box-shadow: 5px solid var(--maroong-content-bg);
    border: 2px solid var(--maroong-content-bg);
}

.action_content {
    float: right;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-flow: wrap;
    padding: 0px 30px 0 0;
}

.action_content .bttn {
    width: max-content;
    height: auto;
    padding: 6px 10px 6px;
    font-size: var(--normal-font-size);
    font-weight: 600;
    color: var(--color-content0-bg);
    background-color: var(--maroong-content-bg);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    outline: none;
}
.action_content .bttn:hover{
    background-color: var(--maroong-content-hover);
}
.action_content .disable{
    width: max-content;
    height: auto;
    padding: 6px 10px 6px;
    font-size: var(--normal-font-size);
    font-weight: 600;
    color: var(--color-content0-bg);
    background-color: var(--body-color);
    border: none;
    border-radius: 0.5rem;
    outline: none;
}
.action_content .disable:hover{
    background-color: var(--button-hover-bg);
}

.list{
    padding-top: 25px;
    width: 100%;
    display: inline-block;
    justify-content: center;
}
.list .list_title{
    padding: 5px 30px 3px;
    width: auto;
    color: var(--color-content0-bg);
    background-color: var(--maroong-content-bg);
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}
.list .display{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.display .table_title{
    color: var(--color-content0-bg);
    background-color: var(--maroong-content-hover);
}
.display .data{
    border: 1px solid #ddd;
    padding: 2px 5px 2px;
    font-size: var(--small-font-size);
}
.data a{
    text-decoration: none;
    font-size: 15px;
}
.input_fieldselect{
    background-color: transparent;
    color: var(--button-hover-color-font-icon);
    border: none;
    width: 100%;
}


@media (max-width: 1200px) {
    .home_content, .appoint_form, .profile{
        width: 75%;
    }
}

@media (max-width: 1024px) {
    .home_content, .appoint_form, .profile{
        width: 85%;
    }
}

@media (max-width: 768px) {
    .home_content, .appoint_form, .profile{
        width: 95%;
    }
}
@media (max-width: 480px) {
    .home_content, .appoint_form, .profile{
        width: 100%;
    }
}