@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root{
    --nav-width: 92px;

    --button-color-font-icon: rgb(136, 136, 136);
    --button-hover-color-font-icon: rgb(84, 83, 87);
    --button-hover-bg: rgb(160, 160, 160);
    --color-content0-bg: white;
    --maroong-content-bg: #810000;
    --maroong-content-hover: #630000;
    --body-color: rgb(209, 209, 209);

    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --meduim-font-size: 15px;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
*::before, ::after{
    box-sizing: border-box;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile{
    margin-top: 10px;
    background-color: white;
    padding: 30px 5%;
    width: 70%;
}
.content_title{
    color: var(--button-hover-color-font-icon);
    padding-bottom: 20px;

}

.list_client{
    padding-top: 30px;
    width: 100%;
    display: inline-block;
    justify-content: center;
}
.list_client .list_title{
    padding: 5px 30px 3px;
    width: auto;
    color: var(--color-content0-bg);
    background-color: var(--maroong-content-bg);
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}
.list_client .display_client{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.display_client .client_title{
    color: var(--color-content0-bg);
    background-color: var(--maroong-content-hover);
    font-size: var(--small-font-size);
    padding: 5px;
}
.display_client .client_data{
    border: 1px solid #ddd;
    padding: 2px 5px 2px;
    font-size: 13px;
    text-align: center;
}
.bttn_table{
    text-decoration: none;
    font-weight: 600;
    font-size: var(--small-font-size);
    color: var(--maroong-content-bg);
}
.bttn_table:hover{
    color: var(--maroong-content-hover);
}